html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $silver;
  font-family: $firasans, sans-serif;
  font-weight: $fw-400;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  padding: 110px 0;
}

.title {
  font-family: $playfairdisplay;
  font-weight: $fw-700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 80px;
  color: $accent;
}

.menu {
  display: flex;

  &__btn {
    width: 30px;
    height: 22px;
    z-index: 1;
    position: relative;
    transition-duration: 1s;
    display: none;
  }

  &__open {
    transition-delay: 0.25s;
  }

  &__open,
  &__open::after,
  &__open::before {
    height: 2px;
    background-color: #fff;
    transition-duration: 0.1s;
  }

  &__open::after,
  &__open::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.25s, top 0.25s 0.25s;
  }

  &__open::after {
    bottom: 0;
  }

  &__open::before {
    top: 0;
  }

  &__box {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-right: 50px;
  }

  &__item {
    font-weight: $fw-700;
    font-size: 18px;
    line-height: 22px;
    color: $accent;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__img {
    width: 34px;
    height: 34px;
    fill: $white;
  }
}

.btn {
  width: 212px;
  height: 56px;
  padding: 17px 55px;
  border: 2px solid $accent;
  color: $accent;
  font-family: $firasans, sans-serif;
  font-weight: $fw-700;
  font-size: 18px;
  line-height: 22px;
  border-radius: 30px;
  transition: all 0.3s;

  &:hover {
    background-color: $accent;
    color: $silver;
  }
}

.zoom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark, 0.7);
  border: 3px solid $silver;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;

  &__img {
    width: 75px;
    height: 75px;
    fill: $silver;
  }

  &--team {
    border: 3px solid $black;
  }
}

.video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &::before {
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.45;
  }

  &:hover::after {
    width: 129px;
    height: 150px;
  }

  &:active::after {
    width: 51px;
    height: 60px;
  }
}


@media (max-width: 768px) {
  .wrapper__fixed {
    position: fixed;
    left: 0;
    right: 0;
  }

  .menu {
    justify-content: space-between;
    align-items: center;

    &__box,
    &__list,
    &__link,
    &__btn,
    &__open {
      display: block;
    }

    &__btn {
      z-index: 3;
    }

    &__btn--active .menu__open {
      transition-duration: 0.1s;
      transition-delay: 0.25s;
      background-color: transparent;
    }

    &__btn--active .menu__open:before {
      transition: top 0.25s, transform 0.25s 0.25s;
      top: 40%;
      transform: rotateZ(-45deg);
    }

    &__btn--active .menu__open:after {
      transition: top 0.4s, transform 0.25s 0.25s;
      top: 40%;
      transform: rotateZ(45deg);
    }

    &__box {
      position: absolute;
      overflow: scroll;
      height: 100vh;
      left: 0;
      right: 0;
      top: 0;
      background-color: $dark;
      text-align: center;
      z-index: 2;
      padding: 120px 0 14px;
      transform: translateY(-200%);
      transition: transform 0.5s;
    }

    &__box.menu__box--active {
      transform: translateY(0);
    }

    &__list {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  .social {
    justify-content: center;
  }

  .logo {
    z-index: 3;

    &__img {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 576px) {
  .page-section {
    padding: 50px 0;
  }

  .title {
    margin-bottom: 30px;
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 17px;
  }
}