html,
body {
  height: 100%;
}

body {
  background-color: $gray;
  color: $silver;
  font-family: $firasans, sans-serif;
  font-weight: $fw-400;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: $playfairdisplay;
  font-weight: $fw-700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 80px;
  color: $accent;
}

.btn {
  width: 212px;
  height: 56px;
  padding: 17px 58px;
  background-color: $accent;
  font-family: $firasans, sans-serif;
  font-weight: $fw-700;
  font-size: 18px;
  line-height: 22px;
  border-radius: 30px;
}
