$white: #fff;
$black: #000;
$dark: #121212;
$gray: #232323;
$silver: #E7E7E7;
$accent: #AD0101;

$firasans: "FiraSans";
$playfairdisplay: "PlayfairDisplay";
$racingsansone: "RacingSansOne";
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

