@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';

.header {
  background-color: $dark;
  padding: 25px 90px;
  z-index: 999;
}

.menu {
  display: flex;

  &__box {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-right: 70px;
  }

  &__item {
    font-weight: $fw-700;
    font-size: 18px;
    line-height: 22px;
    color: $accent;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }
}

 .social {
   display: flex;

   &__item {
     &:not(:last-child) {
       margin-right: 14px;
     }
   }
    &__img {
      width: 34px;
      height: 34px;
      fill: $white;
    }
 }

.top {
  height: 100vh;
  padding-top: 80px;
  color: $silver;
  background: linear-gradient(175deg, rgba($dark, 1) 68%, rgba($dark, 1) 67%, rgba($white, 1) 68.1%);
  &__inner {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 515px;
    margin-right: 130px;
  }
  &__title {
    font-family: $playfairdisplay, sans-serif;
    font-weight: $fw-700;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 22px;
  }
  &__text {
    line-height: 24px;
    margin-bottom: 50px;
  }

  &__name {
    font-family: $racingsansone, sans-serif;
    font-size: 96px;
    line-height: 121px;
    color: rgba($accent, 0.8);
    transform: rotate(-90deg);
    z-index: 10;
    right: 70%;
    bottom: 16%;
    position: absolute;
  }
  &__name:last-child{
    transform: rotate(90deg);
    right: -40%;
    bottom: 62%;
  }

  &__box {
    position: relative;
  }
  &__phone {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: $accent;
    position: absolute;
    right: 20%;
    bottom: 22%;
    z-index: 999;
    &-img {
      margin: 20% 20%;
      fill: $silver;
      width: 36px;
      height: 36px;
    }
  }

}

.services {
  background-color: $white;
  &__list {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__link {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 278px;
    height: 176px;
    margin-bottom: 143px;
    display: block;
    position: relative;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4){
      margin-right: 122px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 278px;
      height: 176px;
      top: 0;
      right: 0;
      background-color: rgba($dark, 0.5);
    }
    &::before {
      content: '';
      position: absolute;
      width: 210px;
      height: 220px;
      top: -12%;
      right: 12%;
      border: 2px solid $dark;
    }
  }
  &__name {
    font-family: $playfairdisplay;
    font-weight: $fw-700;
    font-size: 23px;
    line-height: 31px;
    color: $white;
    max-width: 175px;
    position: relative;
    display: block;
    text-align: center;
    z-index: 2;
    margin: auto;
  }
}

.about {
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__text {
    max-width: 450px;
    & p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 530px;
    height: 353px;
    width: 100%;
    position: relative;
  }
  &__video::before,
  &__video::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }
  
  &__video::before {
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    transition: background-color 0.3s;
  }
  
  &__video::after {
    background-image: url("../images/icons/about.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
  }
}

.benefits {
  background-image: url("../images/benefits.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba($dark, 0.8);
    z-index: -1;
  }
  &__title {
    color: $silver;
    z-index: 10;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    text-align: center;
    position: relative;
    max-width: 272px;
    width: 100%;
    &:not(:last-child) {
      margin-right: 130px;
    }
  }
  &__number {
    display: block;
    font-family: $racingsansone;
    font-weight: $fw-400;
    font-size: 96px;
    line-height: 121px;
    color: $accent;
    margin-bottom: 45px;
    &::before {
      content: '';
      position: absolute;
      width: 228px;
      height: 3px;
      bottom: 30%;
      right: 10%;
      background-color: rgba($silver, 0.2);
    }
  }
}

.gallery {
  &__title {
    color: $silver;
  }
  &__content {
    column-count: 4;
    column-gap: 13px;
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 13px;
  }
  &__link {
    position: relative;
  }
  &__link:hover .zoom {
    opacity: 1;
  }
  &__img {
    width: 100%;
  }
}

.reviews {
  padding-bottom: 180px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 80px;
  }

  &__text {
    max-width: 650px;
    font-style: italic;
    margin-bottom: 30px;
    padding: 0 50px;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 19px;
      background-size: contain;
      background-position: cnetr center;
      background-repeat: no-repeat;
    }

    &::after {
      top: 0;
      left: 0;
      background-image: url("../images/icons/reviews-left.svg");
    }

    &::before {
      bottom: 0;
      right: 0;
      background-image: url("../images/icons/reviews-right.svg");
    }

  }

  &__name {
    display: block;
    font-weight: $fw-400;
    font-size: 20px;
    line-height: 1.3;
    color: $accent;
    margin-bottom: 6px;
  }

  &__post {
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 7px;

      button {
        font-size: 0;
        background-color: $silver;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px $accent;
        }

        &:hover {
          box-shadow: 0 0 0 2px rgba($accent, 0.7);
          background-color: $silver;
        }

        &:active {
          background-color: rgba($accent, 0.7);
        }

      }

      &.slick-active {

        button {
          background-color: $accent;
        }

      }

    }

  }

  .slick-disabled circle {
    stroke: $accent;
  }

  .slick-disabled path {
    fill: $accent;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: -26%;

    & svg {
      transition: box-shadow 0.3s, background-color 0.3s;
    }

    & path {
      transition: fill 0.3s;
    }

    & circle {
      transition: stroke 0.3s;
    }

    &:focus svg {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      border-radius: 50%;
    }

    &:hover circle {
      stroke: rgba($accent, 0.5);
    }

    &:hover path {
      fill: rgba($accent, 0.5);
    }

    &:hover svg {
      background-color: $gray;
      border-radius: 50%;
    }

    &:active circle {
      display: none;
    }

    &:active path {
      fill: $accent;
    }

    &:active svg {
      background-color: $gray;
      border-radius: 50%;
    }

  }

  .slick-prev {
    right: 50%;
    transform: translateX(-60px);
  }

  .slick-next {
    right: 50%;
    transform: translateX(100px);
  }

}

.offers {
  background-color: $white;
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 330px;
    height: 330px;
    width: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 330px;
      height: 330px;
      top: 0;
      right: 0;
      background-color: rgba($dark, 0.2);
    }
    &::after {
      content: '';
      position: absolute;
      width: 311px;
      height: 311px;
      top: 3%;
      right: 3%;
      background-color: transparent;
      border: 2px solid $silver;
      transition: all 0.5s;
      opacity: 0;
    }
    &:not(:last-child) {
      margin-right: 26px;
    }
  } &__box:hover::after {
    opacity: 1;
  }
  &__text {
   font-weight: $fw-700;
   position: relative;
   padding-left: 20px;
   padding-bottom: 13px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   z-index: 10;
  }
}

.request {

  &__title {
    color: $silver;
  }
  &__form {
    max-width: 602px;
    margin: 0 auto;
  }
  &__field {
    width: 100%;
    max-width: 602px;
    height: 48px;
    border: 1px solid #E7E7E7;
    border-radius: 90px;
    padding: 13px;
    &::placeholder {
      font-weight: $fw-300;
      font-size: 18px;
      line-height: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__field:nth-child(2),
  &__field:nth-child(3) {
    max-width: 295px;
  }
  &__field--textarea {
    height: 175px;
    border-radius: 20px;
  }

  &__label-age {
    max-width: 300px;
    width: 100%;
  }
  &__input-age {
    border: 1px solid transparent;
    margin-left: 20px;
    max-width: 300px;
  
    &:checked+.request__checkbox-age {
      border: 1px solid $silver;
      border-radius: 50%;
      background-color: $accent;
    }
  }
  
  &__checkbox-age {
    width: 24px;
    height: 24px;
    border: 1px solid $silver;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 4px;
    position: absolute;
  }
  &__btn {
    display: block;
    margin: 0 auto;
  }
}

.contacts {
  position: relative;
  &__box {
    padding: 48px 48px 53px 90px;
    max-width: 470px;
    max-height: 518px;
    height: 100%;
    background-color: $dark;
    position: absolute;
    top: 10%;
    right: 60%;
  }
  &__title {
    color: $silver;
    text-align: left;
    margin-bottom: 40px;
  }
  &__phone,
  &__email {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: $accent;
    margin-bottom: 28px;
  }
  &__phone,
  &__email,
  &__place {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 36px;
      left: -15%;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__phone {
    &::before {
      background-image: url("../images/icons/phone.svg");
    }
  }
  &__email {
    &::before {
      background-image: url("../images/icons/email.svg");
    }
  }
  &__place {
    margin-bottom: 28px;
    &::before {
      background-image: url("../images/icons/place.svg");
    }
  }
}

.footer {
  background-color: $dark;
  padding: 10px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-family: $playfairdisplay;
    font-weight: $fw-400;
    font-size: 40px;
    line-height: 53px;
    color: $accent;
  }
}
.menu {
  &__box-footer {
    flex-direction: column;
    align-items: center;
  }
  &__list-footer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  &__item-footer {
    margin-bottom: 12px;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  
}



.team {
  background-color: $silver;
  padding: 123px 0;
  color: $dark;
  &__title {
    color: $dark;
    margin-bottom: 26px;
  }
  &__top {
    text-align: center;
    width: 700px;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 160px;
    }
  }
  &__wrapper {
    z-index: 0;
    position: relative;
    
      &::before {
        content: '';
        position: absolute;
        width: 438px;
        height: 277px;
        top: 10%;
        left: 0;
        z-index: -1;
        background-color: transparent;
        border: 2px solid $dark;
      }
  }
  &__img {
    margin-left: 15%;
    margin-bottom: 18px;
  }
  &__name {
    display: block;
    font-weight: 700;
    color: $accent;
    margin-bottom: 8px;
  }
  &__post {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  &__text {
    max-width: 379px;
  }
  &__link {
    display: block;
    width: 283px;
    height: 190px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
    margin-bottom: 38px;
  }
  &__link {
    display: block;
    width: 283px;
    height: 190px;
    position: relative;
  }
  &__link:hover .zoom {
    opacity: 1;
  }
  &__btn {
    color: $silver;
    margin: 0 auto;
    display: block;
    width: 235px;
  }

}

.tabs {
  background-color: $gray;
  padding: 120px 0;
  &__title {
    color: $silver;
    text-align: left;
    margin-bottom: 60px;
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 922px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  &__items {
    display: flex;
    align-items: center;
    width: 256px;
    height: 44px;
    background-color: $silver;
    border-radius: 5px;
    color: $accent;
    font-size: 16px;
    line-height: 106.5%;
    padding: 5px 19px 5px 100px;
    margin-bottom: 20px;
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__items--tattoo::before {
    background-image: url("../images/icons/tattoo.svg");
  }
  &__items--hide::before {
    background-image: url("../images/icons/hide.svg");
  }
  &__items--removal::before {
    background-image: url("../images/icons/removal.svg");
  }
  &__items--drowing::before {
    background-image: url("../images/icons/drowing.svg");
  }
  &__items--training::before {
    background-image: url("../images/icons/training.svg");
  }
  &__content {
    display: flex;
  }
  &__content-slide {
    max-width: 600px;
    margin-right: 60px;
  }
  &__content-box {
    max-width: 426px;
    font-size: 16px;
    line-height: 106.5%;
  }
  &__content-title {
    font-family: $playfairdisplay;
    font-weight: $fw-700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
  }
  &__content-text {
    margin-bottom: 30px;
  }
  &__content-text p {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__content-list {
    list-style: disc;
  }
}
.content-slide {
  display: flex;
  &__thumb {
    width: 122px;
    margin-right: 42px;
  }
  &__thumb-item {
    margin-bottom: 31px;
    width: 122px;
    height: 122px;
    cursor: pointer;
    img{
      width: 122px;
      height: 122px;
      object-fit: contain;
    }
  }
  &__big {
    width: 434px;
    img {
      width: 434px;
      height: 611px;
      object-fit: cover;
    }
  }
}

.gallery {
  &__inner {
    display: flex;
  }
  &__box {
    max-width: 425px;
  }
  &__title {
    margin-bottom: 40px;
  }
}


:root {
  --dark: #070707;
  --sizeindex: calc(1vw + 1vh);
  --transition: .75s cubic-bezier(.2, .6, 0, 1);
}

body,
html {
  overflow-x: hidden;
}

.slider {
  height: 100%;
  transform: rotate(10deg);
  overflow: visible;
  top: 10vh;
}

.slier__wrapper {
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item {
  max-height: 75vh;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition), box-shadow var(--transition);
}

.slider__img {
  width: 400px;
  height: 685px;
  width: 300%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -100%;
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item.opened {
  z-index: 2;
  transform: rotate(-10deg) scale(1.45);
  box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}

.gallery__box {
  position: absolute;
  font-size: calc(var(--sizeindex) * .8);
  top: 20vh;
  left: 8vw;
  max-width: 24vw;
  transition: opacity var(--transition), transform var(--transition);
}

.gallery__text p {
  opacity: .9;
  transition: transform var(--transition);
  transition-duration: 3s;
  margin-bottom: 15px;
}

.gallery__text {
  margin-bottom: 40px;
}

.gallery__box.hidden {
  opacity: 0;
  transform: translateY(5vh);
}

.gallery__box.hidden p {
  transform: translateY(2vh);
}


