@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {
  background-color: $dark;
  padding: 25px 90px;
  .menu {
    display: flex;
    &__box {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    &__list {
      display: flex;
      margin-right: 70px;
    }
    &__item {
      font-weight: $fw-700;
      font-size: 18px;
      line-height: 22px;
      color: $accent;
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }
  .social {
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
}

.top {
  height: calc(100vh - 148px);
  padding-top: 52px;
  color: $silver;
  background: linear-gradient(175deg, rgba($dark, 1) 68%, rgba($dark, 1) 67%, rgba($white, 1) 68.1%);
  &__inner {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 515px;
    margin-right: 130px;
  }
  &__title {
    font-family: $playfairdisplay, sans-serif;
    font-weight: $fw-700;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 22px;
  }
  &__text {
    line-height: 24px;
    margin-bottom: 50px;
  }

  &__name {
    font-family: $racingsansone, sans-serif;
    font-size: 96px;
    line-height: 121px;
    color: rgba($accent, 0.8);
    transform: rotate(-90deg);
    z-index: 10;
    right: 70%;
    bottom: 16%;
    position: absolute;
  }
  &__name:last-child{
    transform: rotate(90deg);
    right: -40%;
    bottom: 62%;
  }

  &__box {
    position: relative;
  }
  &__phone {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: $accent;
    position: absolute;
    right: 20%;
    bottom: 30%;
    &-img {
      margin: 20% auto;
    }
  }

}

.services {
  background-color: $white;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 278px;
    height: 176px;
    margin-bottom: 143px;
    position: relative;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4){
      margin-right: 122px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 278px;
      height: 176px;
      top: 0;
      right: 0;
      background-color: rgba($dark, 0.5);
    }
    &::before {
      content: '';
      position: absolute;
      width: 210px;
      height: 220px;
      top: -12%;
      right: 12%;
      border: 2px solid $dark;
    }
  }
  &__name {
    font-family: $playfairdisplay;
    font-weight: $fw-700;
    font-size: 23px;
    line-height: 31px;
    color: $white;
    z-index: 999;
    max-width: 175px;
    position: relative;
    display: block;
    text-align: center;
    margin: 20% auto;
  }
}

.about {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    max-width: 450px;
    & p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 530px;
    height: 353px;
    width: 100%;
    position: relative;
  }
  &__video::before,
  &__video::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }
  
  &__video::before {
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    transition: background-color 0.3s;
  }
  
  &__video::after {
    background-image: url("../images/icons/about.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
  }
}

.benefits {
  padding: 120px 0;
  background-image: url("../images/benefits.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: '';
  }
}