.header {
  background-color: $dark;
  padding: 15px;
  z-index: 999;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
}

@media (max-width: 576px) {
 
}

@media (max-width: 480px) {
  
}