.gallery {
  &__inner {
    display: flex;
  }

  &__box {
    max-width: 425px;
  }

  &__title {
    margin-bottom: 40px;
    color: $silver;
  }
}


:root {
  --dark: #070707;
  --sizeindex: calc(1vw + 1vh);
  --transition: .75s cubic-bezier(.2, .6, 0, 1);
}

// body,
// html {
//   overflow-x: hidden;
// }

.slider {
  height: 100%;
  transform: rotate(10deg);
  overflow: visible;
  top: 10vh;
}

.slier__wrapper {
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item {
  max-height: 75vh;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition), box-shadow var(--transition);
}

.slider__img {
  width: 400px;
  height: 685px;
  width: 300%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -100%;
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item.opened {
  z-index: 2;
  transform: rotate(-10deg) scale(1.45);
  box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}

.gallery__box {
  position: absolute;
  font-size: calc(var(--sizeindex) * .8);
  top: 20vh;
  left: 8vw;
  max-width: 24vw;
  transition: opacity var(--transition), transform var(--transition);
}

.gallery__text p {
  opacity: .9;
  transition: transform var(--transition);
  transition-duration: 3s;
  margin-bottom: 15px;
}

.gallery__text {
  margin-bottom: 40px;
}

.gallery__box.hidden {
  opacity: 0;
  transform: translateY(5vh);
}

.gallery__box.hidden p {
  transform: translateY(2vh);
}