.tabs {
  padding-top: 150px;
  background-color: $gray;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $silver;
    align-self: flex-start;
    margin-bottom: 60px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 922px;
    margin-right: -50px;
    margin-bottom: 50px;
  }

  &__item {
    margin-right: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 256px;
    height: 44px;
    background-color: $silver;
    border-radius: 5px;
    color: $accent;
    font-size: 16px;
    line-height: 106.5%;
    padding: 5px 19px 5px 100px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__link--tattoo::before {
    background-image: url("../images/icons/tattoo.svg");
  }

  &__link--hide::before {
    background-image: url("../images/icons/hide.svg");
  }

  &__link--removal::before {
    background-image: url("../images/icons/removal.svg");
  }

  &__link--drowing::before {
    background-image: url("../images/icons/drowing.svg");
  }

  &__link--training::before {
    background-image: url("../images/icons/training.svg");
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__content.removal {
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: none;

    &.tabs__content--active {
      display: flex;
    }

  }

  &__content-box {
    max-width: 426px;
    font-size: 16px;
    line-height: 106.5%;
  }

  &__content-title {
    font-family: $playfairdisplay;
    font-weight: $fw-700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  &__content-text {
    margin-bottom: 30px;
  }

  &__content-text p {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__content-list {
    list-style: disc;
    margin-bottom: 50px;
  }

  &__content-btn {
    display: block;
    margin: 0 auto;
  }
}


.slide {
  display: flex;
  max-width: 600px;
  margin-right: 60px;

  &__thumb {
    width: 122px;
    margin-right: 42px;
  }

  &__thumb-item {
    margin-bottom: 31px;
    width: 122px;
    height: 122px;
    cursor: pointer;

    img {
      width: 122px;
      height: 122px;
      object-fit: contain;
    }
  }

  &__big {
    width: 434px;

    img {
      width: 434px;
      height: 611px;
      object-fit: cover;
    }
  }
}

.hide {

  &__img {
    align-self: center;
  }

  .tabs__content-box {
    margin-right: 60px;
  }
}

.removal {

  &__box {
    max-width: 100%;
  }

  &__video {
    max-width: 850px;
    height: 450px;
    margin-bottom: 50px;
  }


  &__video::after {
    background-image: url("../images/icons/about.svg");
  }
}

.drowing {
  &__img {
    margin-right: 60px;
  }
}

.training {
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
    margin-right: 60px;
  }

  &__item:last-child {
    grid-column: span 2;
  }
}


@media (max-width: 992px) {
  .tabs {
    &__content {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    &__content-box {
      text-align: center;
      max-width: 100%;
      margin-bottom: 50px;
    }

    &__content-list {
      list-style: none;
    }

    .slide,
    .tabs__content-box,
    .drowing__img,
    .training__box {
      margin-right: 0;
    }

    .slide,
    .drowing__img,
    .training__box {
      order: 2;
    }

    .slide {
      &__big {
        width: 100%;

        img {
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .slide {
    &__thumb {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .tabs {
    padding-top: 95px;

    &__top {
      margin-bottom: 30px;
    }

    &__content-title {
      margin-bottom: 25px;
    }

    &__content-text {
      margin-bottom: 15px;
    }

    &__content-list {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .tabs {
    &__top,
    &__item {
      margin-right: 0;
    }
  }

  .removal {
    &__video {
      height: 300px;
    }
  }
}