.services {
  background-color: $white;

  &__list {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -122px;
  }

  &__item {
    position: relative;
    margin-right: 122px;
    

    &::before {
      content: '';
      position: absolute;
      width: 210px;
      height: 220px;
      top: -7%;
      right: 13%;
      border: 2px solid $dark;
    }
  }

  &__link {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 278px;
    height: 176px;
    margin-bottom: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 278px;
      height: 176px;
      top: 0;
      right: 0;
      background-color: rgba($dark, 0.5);
    }
  }

  &__name {
    font-family: $playfairdisplay;
    font-weight: $fw-700;
    font-size: 23px;
    line-height: 31px;
    color: $white;
    max-width: 175px;
    position: relative;
    display: block;
    text-align: center;
    z-index: 2;
    margin: auto;
  }
}


@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {
  .services {
    
  }
}
@media (max-width: 480px) {
  .services {
    &__list {
      margin-right: 0;
    }
    &__item {
      margin-right: 0;
    }
  }
}