.request {

  &__title {
    color: $silver;
    margin-bottom: 40px;
  }

  &__form {
    max-width: 602px;
    margin: 0 auto;
  }

  &__field {
    width: 100%;
    max-width: 602px;
    height: 48px;
    border: 1px solid #E7E7E7;
    border-radius: 90px;
    padding: 13px;

    &::placeholder {
      font-weight: $fw-300;
      font-size: 18px;
      line-height: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__field:nth-child(2),
  &__field:nth-child(3) {
    max-width: 298px;
  }

  .select-style {
    font-weight: $fw-300;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin-bottom: 20px;

    & option {
      color: $black;
    }

    .jq-selectbox__select {
      border: 1px solid $silver;
      border-radius: 50px;
      padding: 13px;
      background: none;
      box-shadow: none;
      text-shadow: none;
      height: 48px;
      font-family: $firasans, sans-serif;
      font-weight: $fw-300;
      font-size: 18px;
      line-height: 22px;
      color: $silver;
    }

    .jq-selectbox__trigger {
      border-left: none;
    }

    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      width: 19px;
      height: 11px;
      border: none;
      background-image: url("../images/icons/select.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__field--textarea {
    height: 175px;
    border-radius: 20px;
    resize: vertical;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    font-weight: $fw-300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  &__add {
    padding-left: 46px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 38px;
      height: 38px;
      top: -10%;
      left: 0;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/icons/add.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 4%;
      width: 23px;
      height: 23px;
    }
  }

  &__label-age {
    max-width: 295px;
    display: block;
    margin-left: 30px;
  }

  &__input-age {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
  }

  &__checkbox-age {
    width: 20px;
    height: 20px;
    border: 1px solid $silver;
    border-radius: 50%;
    margin-left: -32px;
    margin-top: 4px;
    position: absolute;
  }

  &__input-age:checked+.request__checkbox-age::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: $accent;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}


@media (max-width: 992px) {}

@media (max-width: 768px) {
  .request {

    &__field:nth-child(2),
    &__field:nth-child(3) {
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .request {
    &__box {
      flex-direction: column;
    }

    &__label-age {
      margin-bottom: 15px;
      margin-left: 47px;
    }
    &__checkbox-age {
      margin-left: -40px;
    }

    &__add::before {
      top: 20%;
      left: 2%;
    }
  }
}

@media (max-width: 480px) {
  .request {
    &__field {

      &::placeholder {
        font-size: 16px;
      }
    }
    .select-style {
      .jq-selectbox__select {
        font-size: 16px;
      }
    }
  }
}