.footer {
  background-color: $dark;
  padding: 8px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: $playfairdisplay;
    font-weight: $fw-400;
    font-size: 40px;
    line-height: 53px;
    color: $accent;
  }
}


@media (max-width: 992px) {}

@media (max-width: 768px) {
  .footer {
    &__inner {
      flex-direction: column;
    }
    &__text {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  
}

@media (max-width: 480px) {
 
}