.gallery {
  background-color: $gray;

  &__title {
    color: $silver;
  }

  &__content {
    column-count: 4;
    column-gap: 13px;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 13px;
  }

  &__link {
    position: relative;
  }

  &__link:hover .zoom {
    opacity: 1;
  }

  &__img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .gallery {
    &__content {
      column-count: 3;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    &__content {
      column-count: 2;
    }

    &__btn {
      display: block;
      margin: 0 auto;
      width: 240px;
    }
  }
}